name: Test

on:
  push: {}
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Generate code
        run: go generate ./...

      - name: Run Tests
        run: go test -v ./...
